body {
  background-color: #e7e0d0;
  background-image: url("skulls_sm.jpg"), url("skulls_sm.jpg"),
    url("parchment.jpg");
  background-position: top left, top right, left;
  background-repeat: repeat-y, repeat-y, repeat;
  background-attachment: scroll, scroll, scroll;
  background-size: 227px, 227px, auto;
  font-family: Garamond, "Times New Roman", serif;
  margin: 0;
  color: #371d1e;
  cursor: url("../images/cursors/spearcursor.png"), auto;
}

header p {
  margin-top: 8px;
}

header h1 {
  margin-bottom: 3px;
  padding: 3px;
  border-bottom: solid 2px;
}

hr {
  border: solid #322b4a;
  border-width: 2px 0 0 0;
}

img {
  max-width: 100%;
}
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 600px;
  }
}

@media only screen and (max-width: 980px) {
  body {
    background-color: #e7e0d0;
    background-image: url("parchment.jpg");
    background-position: left;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
  }
  .container {
    width: 90%;
  }
}

.icons {
  transition: transform 0.2s;
  text-align: center;
}

.icons:hover {
  transform: translate(0, 5px);
}

a:link,
a:visited,
a:active {
  color: #7c2c35;
}

a:hover {
  color: #382224;
  cursor: url("../images/cursors/pointercursor.png"), auto;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.container {
  margin: auto;
  max-width: 800px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer {
  margin: auto auto 20px;
  width: 910px;
  max-width: 100%;
  height: 290px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footscroll {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 650px;
  height: 95%;
  align-items: center;
}

.scroll4 {
  border-style: outset;
  border-image: url("../images/background/scrollborder.png");
  border-image-repeat: stretch;
  border-image-slice: 50 fill;
  border-image-width: 50px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 580px) {
  .footscroll {
    display: none;
  }

  .mobile {
    display: block;
  }
}
